<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA_H2ya59BaJy4V03W4BF4TbHPIcHR6QPg</string>
	<key>GCM_SENDER_ID</key>
	<string>365751762036</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.foodDelivery</string>
	<key>PROJECT_ID</key>
	<string>fooddelivery-b855d</string>
	<key>STORAGE_BUCKET</key>
	<string>fooddelivery-b855d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:365751762036:ios:bab67a53f38647951da521</string>
</dict>
</plist>